html, body {
  margin: 0;
  height: 100%;
}

main.HomePage {
  height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #7FFFD4;
}

/*------------------------
	Navbar css
--------------------------*/

.navbar-brand img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.navbar-brand:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

button.navbar-toggler {
  padding: 0.5em;
  width: 94px;
  text-align: center;
}
button.navbar-toggler.collapsed::before {
	content: "\2630  Menu";
}
button.navbar-toggler::before {
  content: "X Close";
}

.nav-item a:link,
.nav-item a:visited,
.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  position: relative;
}
.nav-item a:hover {
  color: #ffffff;
}
.nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #7FFFD4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
